.mainContainer {
  display: flex;
  align-items: flex-start;
  outline: 2px solid red;
}

.headerContentContainer {
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: #fcf8f8;
  height: 100vh;
  outline: 2px solid green;
}

.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 24px 10px 0px;
  border-bottom: 1px solid #c4c7c8;
}

@media (min-width: 900px) {
  .headerContainer {
    justify-content: flex-end;
  }
}

.contentContainer {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding-top: 47px;
  padding-bottom: 95px;
  overflow-y: auto;
  padding-left: clamp(16px, 8vw, 152px);
  padding-right: clamp(16px, 8vw, 152px);
}

.contentHeaderTitleText {
  font-size: 32px;
  font-weight: var(--font-weight-semi-bold);
  line-height: 38.4px;
  letter-spacing: -0.64px;
  color: var(--font-color-primary);
  margin-bottom: 3px;
}

.contentHeaderSubText {
  font-size: 15px;
  font-weight: var(--font-weight-regular);
  line-height: 22.5px;
  color: var(--font-color-secondary);
}

.contentCardContainer {
  display: grid;
  row-gap: 24px;
  column-gap: 24px;
  grid-template-columns: 1fr 1fr;
}

@media (max-width: 1250px) {
  .contentCardContainer {
    grid-template-columns: 1fr;
  }
}

.featuredCard {
  grid-column: 1 / span 2;
}

@media (max-width: 1250px) {
  .featuredCard {
    grid-column: auto;
  }
}

.contentHeading {
  margin-bottom: 48px;
}

.sidebarBurgerButton {
  display: none;
  margin-left: 20px;
  background: none;
  border: none;
  cursor: pointer;
}

@media (max-width: 900px) {
  .sidebarBurgerButton {
    display: block;
  }
}

.searchBarContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 24px;
}
